<!DOCTYPE html>
<html ng-app='libraryApp'>
  <head>
    <meta charset="utf-8">
    <title>Library reworked with Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src='library.module.js'></script>
    <script src='booklist.component.js'></script>
    <!-- <script src='newbook.component.js'></script> -->
  </head>
  <body>
    <div class="container">
      <button type="button" name="button">New Book</button>
      <div class="row">
        <div class="col-sm-10 col-xs-10">
          <section>
            <form name='bookForm' ng-submit='bookCtrl.addBook(book)' ng-controller='bookController as bookCtrl'>
              Title: <input ng-model='book.title' type="text" placeholder="book title goes here"><br>
              Author: <input ng-model='book.author' type="text" placeholder="name of author"><br>
              Pages: <input ng-model='book.pages' type="text" placeholder="number of pages"><br>
              Have read: <select ng-model='book.haveRead'>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <br>
              <input type="submit" value="Add Book"/>
            </form>
            <br>
            <br>
            <blockquote>
              {{bookCtrl.book.title}} <br>
              {{bookCtrl.book.author}} <br>
              {{bookCtrl.book.pages}} <br>
              {{bookCtrl.book.haveRead}}
            </blockquote>
          </section>
          <section>
            <book-list></book-list>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
